<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="Test">
        <classes>

            <class name="com.blankfactor.BlankFactorTest">
                <methods>
                    <include name="openPageTest"/>
                    <include name="goBlogSectionTest"/>
                    <include name="selectArticle"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->